/* manual navigation */
#radio1:checked ~ .first{ margin-left: 0;}
#radio2:checked ~ .first{ margin-left: -20%;}
#radio3:checked ~ .first{ margin-left: -40%;}
#radio4:checked ~ .first{ margin-left: -60%;}

/* automatic navigation */
#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3,
#radio4:checked ~ .navigation-auto .auto-btn4{
  background: rgba(255, 255, 255, 0.711);
}